.dockerignore
docker
Dockerfile
Dockerfile.dev
Dockerfile.prod
docker-compose.yml

.DS_Store
.env*
.github
.gitignore
example.env

.eslintcache
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
